<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.mapper.qxs.finance.ExpenditureMapper">
    <!--<update id="updateExpenditure" parameterType="Expenditure">
        update expenditure
        <set>
            <if test=" account !=null">
                &lt;!&ndash; 修改收款方 &ndash;&gt;
                account=#{account},
            </if>
            <if test=" remark !=null">
                &lt;!&ndash; 修改收款方 &ndash;&gt;
                remark=#{remark},
            </if>
            <if test="principal !=null">
                principal =#{principal}
            </if>
        </set>
        where expenditureId=#{expenditureId}
    </update>-->
</mapper>