<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.mapper.qxs.finance.ExpenditureMapper">
    <update id="updateExpenditure" parameterType="Expenditure">
        update expenditure
        <set>
            <if test="balance_payment != 0.00 ">
                <!-- 清算尾款 -->
                balance_payment=#{balance_payment},
            </if>
            <if test="account !=null">
                <!-- 修改收款方 -->
                account=#{account}
            </if>
        </set>
        where expenditureId=#{expenditureId}
    </update>
</mapper>