<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/css/jquery.dataTables.min.js"></script>
    <script src="../../static/css/jquery-1.8.3.min.js"></script>
    <script src="../../static/js/jquery.min.js"></script>
</head>
<body>
    <table border="1px red ">
        <tr>
           <td>产品名称：</td>
           <td><input type="text" name="product_name" id="product_name"></td>
        </tr>
        <tr>
            <td>产品型号：</td>
            <td>
                <select th:each="models:${product_models}" height="40px" class="text-c">
                    <option th:text="${models.model_name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>产品类别：</td>
            <td >
                <select th:each="types:${product_types}" height="40px" class="text-c">

                </select>
            </td>
        </tr>
    </table>
</body>
</html>