<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 请假操作语句 -->
<mapper namespace="com.xt.mapper.winter.LeaveMapper">
    <!-- 添加数据 -->
    <insert id="saveLeave" parameterType="com.xt.entity.winter.Leave">
      insert into leave values()
    </insert>

    <!-- 修改数据 -->

    <!-- 修改状态 -->
    <update id="updateLeaveStatus" parameterType="com.xt.entity.winter.Leave">
        update leave
        <set>
            <if test="verifyStatus != null">
                verifyStatus = #{verifyStatus}
            </if>
        </set>
        where leaveId = #{leaveId}
    </update>
    <!-- 删除数据 -->
    <delete id="deleteLeave" parameterType="com.xt.entity.winter.Leave">
        update leave set deleteFlag = #{deleteFlag} where leaveId = #{leaveId}
    </delete>
</mapper>