<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 请假操作语句 -->
<mapper namespace="com.xt.mapper.winter">
    <!-- 添加数据 -->
    <insert id="saveLeave" parameterType="com.xt.entity.winter.Leave">
      insert into leave values()
    </insert>
</mapper>